<!DOCTYPE html>
<html lang="en">

  <script src="https://code.jquery.com/jquery-1.11.3.js"></script>
  <script src="/static/js/main.js"></script>

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="/static/js/main.js"></script>     
</head>
  <body onLoad = getUsername()>
 
      <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">s7DBproject</a>
    </div>
    <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/showSignIn">Sign In</a></li>
        <li><a href="/showSignUp">Create User</a></li>
        <li><a href="/showAddEmployee">Add Employee</a></li>
        <li><a href="/showAddProduct">Add Product</a></li>    
        <li class="active"><a href="/showAddEmployeeToProduct">Add Employee to Product</a></li>
        <li><a href="/showFindProductByEmployee">Find Product by Emplouee</a></li>
        <li><a href="/showFindEmployeesByProduct">Find Employees by Product</a></li>
        <li><a href="/showAddProductline">Add Product Line</a></li>
        <li><a href="/showAddProductToProductline">Add Product to Product Line</a></li>
        <li><a href="/showGetUsers#">Get All</a></li>
    </ul>
  </div>
</nav>
      
    <div class="container">
      <div class="header">
        
        <div name="cur_user" id="cur_user">
          <h3 class="text-muted">Python Flask App</h3>
        </div>
        <button id="btnLogOut" class="btn btn-primary" type="button">Log out</button>
      </div>
 
      <div class="jumbotron">
        <h1>Add Employee to Product form</h1>
        <form class="form-signin">
        <label for="employeename" class="sr-only">Employee Name</label>
        <input type="name" name="employeename" id="employeename" class="form-control" placeholder="Employee name" required autofocus>
        <label for="productname" class="sr-only">Product Name</label>
        <input type="name" name="productname" id="productname" class="form-control" placeholder="Product name" required>
         
        <button id="btnAddEmployeeToProduct" class="btn btn-lg btn-primary btn-block" type="button">addEmployeeToProduct</button>
      </form>
      </div>
 
       
 
      <footer class="footer">
        <p>&copy; Company 2015</p>
      </footer>
 
    </div>
  </body>
  
  <script>
  
  $(function() {
		$('#btnAddEmployeeToProduct').click(function() {
			$.ajax({
				url: '/addEmployeeToProduct',
				data: $('form').serialize(),
				type: 'POST',
				success: function(response) {
					console.log(response);
				},
				error: function(error) {
					console.log(error);
				}
			});
		});
	});
  
  </script>
  
</html>