<!DOCTYPE html>
<html lang="en">

  <script src="https://code.jquery.com/jquery-1.11.3.js"></script>
  <script src="/static/js/main.js"></script>

  <head>
    <title>Python Flask Bucket List App</title>
 
    
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <!-- link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet" -->
    <link href="../static/signup.css" rel="stylesheet">
    
  </head>
 
  <body onLoad = getUsername()>
 
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="/">Home|</a>
            </li>
            <li role="presentation"><a href="/showSignIn">Sign In|</a>
            </li>
            <li role="presentation"><a href="/showSignUp">Create User|</a>
            </li>
            <li role="presentation"><a href="/showAddEmployee">Add Employee|</a>
            </li>
            <li role="presentation"><a href="/showAddProduct">Add Product|</a>
            </li>
            <li role="presentation"><a href="/showAddEmployeeToProduct">Add Employee To Product|</a>
            </li>
            <li role="presentation"><a href="/showFindProductByEmployee">Find Product By Employee|</a>
            </li>
            <li role="presentation"><a href="/showFindEmployeesByProduct">Find Employees By Product|</a>
            </li>
            <li role="presentation"><a href="/showAddProductline"><b>Add Productline</b>|</a>
            </li>
            <li role="presentation"><a href="/showAddProductToProductline">Add Product To Productline|</a>
            </li>
              <li role="presentation"><a href="/showGetUsers">Show All Employees</a>
            </li>
          </ul>
        </nav>
        <div name="cur_user" id="cur_user">
          <h3 class="text-muted">Python Flask App</h3>
        </div>
        <button id="btnLogOut" class="btn btn-primary" type="button">Log out</button>
      </div>
 
      <div class="jumbotron">
        <h1>Add Productline</h1>
        <form class="form-signin">
        <label for="productlinename" class="sr-only">Productline Name</label>
        <input type="name" name="productlinename" id="productlinename" class="form-control" placeholder="Productline Name" required autofocus>
        <label for="productlinedescription" class="sr-only">Position</label>
            <textarea rows="3" type="name" name="productlinedescription" id="productlinedescription" class="form-control" placeholder="Productline Description" required></textarea>
         
        <button id="btnAddProductline" class="btn btn-lg btn-primary btn-block" type="button">addProductline</button>
      </form>
      </div>
 
       
 
      <footer class="footer">
        <p>&copy; Company 2015</p>
      </footer>
 
    </div>
  </body>
  
  <script>
  
  $(function() {
		$('#btnAddProductline').click(function() {
			$.ajax({
				url: '/addProductline',
				data: $('form').serialize(),
				type: 'POST',
				success: function(response) {
					console.log(response);
				},
				error: function(error) {
					console.log(error);
				}
			});
		});
	});
  
  </script>
  
</html>