<!DOCTYPE html>
<html lang="en">

<script src="https://code.jquery.com/jquery-1.11.3.js"></script>
<script src="/static/js/main.js"></script>

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
 
<body onLoad = loadProfile()>
    
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">s7DBproject</a>
    </div>
    <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/showSignIn">Sign In</a></li>
        <li><a href="/showSignUp">Create User</a></li>
        <li><a href="/showAddEmployee">Add Employee</a></li>
        <li><a href="/showAddProduct">Add Product</a></li>    
        <li><a href="/showAddEmployeeToProduct">Add Employee to Product</a></li>
        <li><a href="/showFindProductByEmployee">Find Product by Emplouee</a></li>
        <li><a href="/showFindEmployeesByProduct">Find Employees by Product</a></li>
        <li><a href="/showAddProductline">Add Product Line</a></li>
        <li><a href="/showAddProductToProductline">Add Product to Product Line</a></li>
        <li><a href="/showGetUsers#">Get All</a></li>
    </ul>
  </div>
</nav>
    
    <div class="container">
        <div class="header">

            <p>
                <div name="cur_user" id="cur_user">
                <h3 class="text-muted">Python Flask App</h3>
                </div>
            <button id="btnLogOut" class="btn btn-primary" type="button">Log out</button>
            </p>

        </div>

        <div class="jumbotron">
            <div name="fullname" id="fullname">test</div>
            <div name="position" id="position">test</div>
            <div name="product" id="product">test</div>
            <div name="department" id="department">test</div>
        </div>
 
        <footer class="footer">
            <p>&copy; Company 2015</p>
        </footer>
 
    </div>
</body>

<script>

</script>
 
</html>