<!DOCTYPE html>
<html lang="en">

<script src="https://code.jquery.com/jquery-1.11.3.js"></script>
<script src="/static/js/main.js"></script>

<head>
    <title>Python Flask Bucket List App</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <!--<link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">-->
    <link href="../static/signup.css" rel="stylesheet">
 
</head>
 
<body onLoad = loadProfile()>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="/">Home|</a>
                    </li>
                    <li role="presentation"><a href="/showSignIn">Sign In|</a>
                    </li>
                    <li role="presentation"><a href="/showSignUp">Create User|</a>
                    </li>
                    <li role="presentation"><a href="/showAddEmployee">Add Employee|</a>
                    </li>
                    <li role="presentation"><a href="/showAddProduct">Add Product|</a>
                    </li>
                    <li role="presentation"><a href="/showAddEmployeeToProduct">Add Employee To Product|</a>
                    </li>
                    <li role="presentation"><a href="/showFindProductByEmployee">Find Product By Employee|</a>
                    </li>
                    <li role="presentation"><a href="/showFindEmployeesByProduct">Find Employees By Product|</a>
                    </li>
                    <li role="presentation"><a href="/showAddProductline">Add Productline|</a>
                    </li>
                    <li role="presentation"><a href="/showAddProductToProductline">Add Product To Productline|</a>
                    </li>
                    <li role="presentation"><a href="/showGetUsers">Show All Employees</a>
            </li>
                </ul>
            </nav>
            <p>
                <div name="cur_user" id="cur_user">
                <h3 class="text-muted">Python Flask App</h3>
                </div>
            <button id="btnLogOut" class="btn btn-primary" type="button">Log out</button>
            </p>

        </div>

        <div class="jumbotron">
            <div name="fullname" id="fullname">test</div>
            <div name="position" id="position">test</div>
            <div name="product" id="product">test</div>
            <div name="department" id="department">test</div>
        </div>
 
        <footer class="footer">
            <p>&copy; Company 2015</p>
        </footer>
 
    </div>
</body>

<script>

</script>
 
</html>